@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat", sans-serif;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 50px;
  background-color: rgba(150,101,160,0.5);
  background-image: url(https://png.pngitem.com/pimgs/s/136-1361002_nubes-sin-fondo-png-transparent-png.png)
  

 
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 10px;
}
.card{
  width: 320px;
  background-color: #ece7e7;
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}
.card img{
  display: block;
  max-height: 280px;
  margin: 16px auto;
  filter: drop-shadow(2px 0px 8px #515151);
}
.card h2{
  margin-top: 2px;
  margin-bottom: 8px;
  color: #373737;
  text-align: center;
}
.card p{
  font-size: 1rem;
  color: #515151;
  text-align: center;
}

.punto_c1{

  background-color: #ecb0b0;
}

.punto_c2_Combinación_RGB1{

  background-color: rgb(10, 150, 200
  );
}

.punto_c2_Combinación_RGB2{

  background-color: rgb(200, 160, 250
  );

}
.punto_c2_Combinación_RGB3{

  background-color: rgb(144, 198, 218);
}
.punto_c2_Combinación_RGB4{

  background-color: rgb(105, 150, 200
  );
}

.punto_c2_Combinación_RGB5{

  background-color: rgb(150, 10,19
  
  );
}

.punto_c3 {

  background-color: rgba(241, 131, 241, 0.5);

}

.punto_c10 {

  text-transform: none;
  letter-spacing: 5px;
  text-shadow: #e6a3a3;
  


}


